body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}
.uc {
  font-family: 'Ubuntu Condensed', sans-serif;
}
.content_responsive {
  width: 100%;
  height: auto;
  margin: 0 auto;
  clear: both;
}
.estrutura_site {
  width: 100%;
  max-width: 1119px;
  margin: 0 auto;
  height: auto;
}
#topo {
  width: 100%;
  float: left;
  margin: 0px;
  height: 144px;
  background: url('../../includes/imgs/fundo_topo.png') center no-repeat;
}
#topo .logo {
  width: 264px;
  height: 74px;
  float: left;
  margin-top: 35px;
}
#topo .logo a {
  width: 264px;
  height: 74px;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url('../../includes/imgs/logo.png') center no-repeat;
}
#topo .logo a:hover {
  opacity: 0.5;
  display: block;
}
#topo .menu {
  width: 73%;
  float: left;
  padding-left: 40px;
}
#topo .menu ul {
  width: 100%;
  float: right;
  margin-top: 82px;
}
#topo .menu ul li {
  display: inline-block;
}
#topo .menu ul li a {
  color: #48887a;
  font-size: 18px;
  padding: 8px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
#topo .menu ul li a:hover {
  opacity: 0.5;
}
#destaque {
  width: 100%;
  float: left;
  margin: 0;
  margin-top: -15px;
  position: relative;
  z-index: -1;
}
#conteudo, .conteudo {
  width: 100%;
  float: left;
  margin: 0;
  height: auto
}
.conteudo .box_home {
  width: 100%;
  float: left;
  margin: 0;
  height: auto;
  margin-top: 20px;
}
.conteudo .box_home .box_home_int {
  width: calc((100% / 2) - 22px);
  float: left;
  height: 400px;
  margin-right: 44px;
}
.conteudo .box_home .box_home_int.second {
  margin-right: 0;
}
.box_home .box_home_int .titulo {
  color: #48887a;
  font-size: 24px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.box_home .box_home_int .img {
  width: 100%;
  float: left;
  margin: 0;
  margin-top: 5px;
}
.box_home .box_home_int .img img:hover {
  opacity: .7;
}
.box_home .box_home_int .desc {
  width: 100%;
  float: left;
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #403f41;
  font-weight: 300;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 19px;
  margin-top: 10px;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke: 0.2px;
}
.box_home .equipe {
  width: 100%;
  float: left;
  margin: 0;
}
.box_home .equipe .mulher {
  width: 330px;
  height: 361px;
  float: left;
  margin: 0;
  margin-left: 77px;
}
.box_home .equipe .desc_equipe {
  width: 59%;
  margin-left: 20px;
  margin-top: 110px;
  float: right;
}
.box_home .equipe .desc_equipe .titulo {
  color: #48887a;
  font-size: 29px;
  font-family: 'Ubuntu Condensed', sans-serif;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke: 0.2px;
}
.box_home .equipe .desc_equipe .desc {
  width: 70%;
  float: left;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
  line-height: 20px;
  color: #403f41;
}
.banner-rodape {
  width: 100%;
  float: left;
  margin: 0;
  margin-top: -4px;
  position: relative;
  z-index: -1;
}
#rodape {
  width: 100%;
  float: left;
  margin: 0;
  height: 340px;
  margin-top: 20px;
  background: #139D73;
}
#rodape .rodape_int {
  width: calc(100% / 2);
  float: left;
  margin: 0;
  padding-top: 40px;
}
#rodape .rodape_int.first{
  padding-left: 18px;
}
#rodape .rodape_int .logo{
  width: 264px;
  height: 74px;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url('../../includes/imgs/logo_rodape.png') center no-repeat;
}
#rodape .rodape_int .informacoes{
  width:100%;
  float:left;
  margin:0;
  margin-top: 25px;
}
#rodape .rodape_int .informacoes li{
  width: 100%;
  display: block;
  padding-left: 25px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}
#rodape .rodape_int .informacoes li.end{
  background: url('../../includes/imgs/infos.png') no-repeat -2px 0;
	width: 100%;
	height: 15px;
}
#rodape .rodape_int .informacoes li.tel{
  background: url('../../includes/imgs/infos.png') no-repeat 0 -27px;
  width: 100%;
  height: 13px;
}
#rodape .rodape_int .informacoes li.email{
  background: url('../../includes/imgs/infos.png') no-repeat 0 -57px;
  width: 100%;
  height: 11px;
}
/************************************************************
slide home
************************************************************/

#area_slider_intro li a {
  width: 100%;
  height: 600px;
  display: table;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}
#area_slider_intro li .box_conteudo_slider {
  width: 1119px;
  left: 0;
  position: absolute;
  top: 150px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
#area_slider_intro li .titulo_slider {
  width: 600px;
  float: left;
  font-size: 50px;
  color: #fff;
  opacity: .7;
}
#area_slider_intro li .subtitulo_slider {
  width: 600px;
  float: left;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  line-height: 20px;
  white-space: pre-line;
  opacity: .7;
  clear: both;
}
#area_slider_intro {
  width: 100%;
  height: 100%;
  float: left;
  margin: 0 0 0 0;
  position: relative;
  top: 0;
  left: 0;
  background: #000;
  overflow: hidden;
  -webkit-transform: scale(1);
  /* prefixo para browsers webkit */
  /* prefixo para browsers gecko */
  /* prefixo para opera */
  -ms-transform: scale(1);
  transform: scale(1);
}
#slider_intro, #slider_intro li, #slider_intro li a {
  width: 100%;
  float: left;
  margin: 0;
  cursor: default;
}
.bgwidth {
  width: 100%;
  height: auto;
}
.bgheight {
  height: 100%;
  width: auto;
}
